.shop {
  text-align: left;
  display: grid;
  grid-template-rows: 3rem auto;
}

.shop > * {
  margin: var(--main-content-margin-wide);
  display: grid;
}

.header {
  align-self: center;
}

.cardContainer {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

@media (max-width: 600px) {
  .shop > * {
    margin: var(--main-content-margin-medium);
  }
}

@media (max-width: 400px) {
  .shop > * {
    margin: var(--main-content-margin-narrow);
  }
}
