.cart {
  text-align: left;
  display: grid;
  grid-template-rows: 3rem auto;
}

.cart > * {
  margin: var(--main-content-margin);
  display: grid;
}

.header {
  align-content: center;
}

.orderContainer {
  
}