:root {
  --banner-background-color: #cacaca;
  --banner-text-color: #fcfcfc;
  --banner-font-weight: 500;
  --navbar-background-color: #ececec;
  --navbar-text-color: #3f3f3f;
  --active-link-font-weight: 600;
  --main-heading-weight: 500;
  --main-content-margin-wide: 0 10rem;
  --main-content-margin-medium: 0 5rem;
  --main-content-margin-narrow: 0 1rem;
  --main-sub-heading-weight: 600;
  --product-card-shadow: 1px 1px 3px #b3b3b3;
  --product-card-radius: 5px;
  --product-card-padding: 1rem;
  --product-card-background-hovered: #f6f6f6;
  --order-card-shadow: 1px 1px 3px #b3b3b3;
  --order-card-radius: 15px;
  --order-card-padding-wide: 1rem;
  --order-card-padding-narrow: 1rem;
  --order-card-background-hovered: #e8f0f0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  max-width: calc(1980px * 0.7);
  min-height: 100dvh;
  text-align: center;

  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 100;
}
