.order {
  box-shadow: var(--order-card-shadow);
  border-radius: var(--order-card-radius);
  padding: var(--order-card-padding);

  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: repeat(3, calc(200px / 3));
  align-items: center;
  justify-items: center;
}

.img {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  justify-self: center;
  max-width: 150px;
  max-height: 100%;
  object-fit: contain;
}

.h3 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.form {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  width: 3rem;
}

.button {
  border: none;
  background-color: inherit;
}

.button:hover {
  cursor: pointer;
}

.icon {
  display: block;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.subTotal {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

/* transition */
.order {
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.order:hover {
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  background-color: var(--order-card-background-hovered);
}
